<section class="sign-up">
  <div class="content">
    <h1>Create Account</h1>
    <div class="message">
      <span>Sign up with</span>
    </div>
    <div class="social-sign-ups">
      <button class="btn btn-google">
        <fa-icon [icon]="faGoogle"></fa-icon> <span>Sign up with google</span>
      </button>
      <button class="btn btn-github">
        <fa-icon [icon]="faGithub"></fa-icon>
        <span>Sign up with github </span>
      </button>
    </div>
    <div class="option-line"></div>
    <form (ngSubmit)="signUp()">
      <div class="form-group-row">
        <div class="form-control">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            [(ngModel)]="username"
            autofocus
            required
          />
          <span class="error"></span>
          <span class="warn">Must be lowercase*</span>
        </div>
        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            [(ngModel)]="email"
            autocomplete="email"
            required
          />
          <span class="error"></span>
          <span class="warn">Must be lowercase*</span>
        </div>
      </div>
      <div class="form-group-row">
        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="password"
            autocomplete="new-password"
            required
          />
          <span class="error"></span>
          <span class="warn"></span>
        </div>
      </div>
      <div class="form-control-checkbox">
        <label>
          <input
            type="checkbox"
            name="read"
            id="read"
            [(ngModel)]="readTerms"
            required
          />
          <span
            >I've read and agree with Terms of Service and our Privacy
            Policy</span
          >
        </label>
      </div>
      <button class="btn btn-sign-up">Sign up</button>
    </form>
    <div class="member-already">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </div>
  <div class="image">
    <img src="./../../../assets/images/startupLaunch.svg" alt="" />
  </div>
</section>
