@import '/src/variables';

header {
	background-color: $dark-color;
	padding: 0.8rem 0;
	height: 82px;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main-content {
	display: grid;
	place-content: center;
	height: calc(100vh - 82px);
}