
$dark-color: hsl(0, 0%, 7%);
$dark-color-alpha: hsl(0, 0%, 16%);

$light-color: hsl(0, 0%, 93%);
$light-color-alpha: hsl(0, 0%, 100%);

$primary-color: hsl(155, 100%, 50%);
$primary-color-alpha: hsl(155, 100%, 45%);